.dt-info, 
.dt-paging, 
.dt-length, 
.dt-search,
.dataTables_filter {

    font-size: 10px !important;
    
}

#div_id_username, 
#div_id_first_name, 
#div_id_last_name, 
#div_id_email {

    margin-bottom: 5px !important;
}

label {

    margin-bottom: 0px !important;
    font-size:12px;
}

form input {

    font-size:12px !important;
}

form input:focus {

    box-shadow: none !important;
    border: 1px solid dodgerblue;
}

form .mb-3 {

    margin-bottom: 5px !important;
}

form select:focus {

    box-shadow: none !important;
    border: 1px solid dodgerblue;

}

form select {

    font-size:12px !important;
}

#add_group_form select {

    min-height: 150px !important;
}


#id_maintenance_type_desc, #id_description {

    height: 100px !important;
    font-size:12px !important;
}

.alert {

    font-size:12px !important;

}

.card-footer a {

    text-decoration: none !important;
}

.alert-danger ul li, .alert-success ul li {

    font-size:12px !important;
    list-style-type: none !important;
}