{% extends "front_base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid my-5 py-5">
    <div class="container d-flex justify-content-center align-items-center">
        
        <div class="card w-50">
            <div class="card-header">
                <h4 class="fw-bold">Login Here</h4>
            </div>
            <div class="card-body">
                
                <form method="post">
                    {% csrf_token %}{{form|crispy}}
                    <a href="/sign-up">Don't have an account | sign-up</a>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}