{% extends "front_base.html" %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-fluid my-5 py-5">
    <div class="container d-flex justify-content-center align-items-center px-5">
        
        <div class="card border-0 shadow-lg">
            <!--
            <div class="card-header bg-primary border-0">
                <h4 class="fw-bold text-center text-white">Login Here</h4>
            </div>
            -->
            <div class="card-body">

                <div class="alert alert-block alert-success">
                    <ul class="m-0">
                        
                            <li> 
                                Tets credentials: <br />
                                <b>customer: | username: test.customer | password: 12345678 </b> <br />
                                <b>admin: |    username: admin | password: 12345678 </b> <br />
                                <b>Nb: these credentials are for test purposes only</b>
                            </li>
                        
                    </ul>
                </div>
                
                <form method="post">
                    {% csrf_token %}{{form|crispy}}        
                    <button type="submit" class="btn btn-primary w-100 fw-bold">Login</button>
                </form>

                <p class="d-block text-center pt-2 pb-0 mb-0" style="font-size:12px; font-weight:400;">
                    Don't have an account | <a href="{% url 'sign_up'%}">sign-up</a> <br />
                    Forgot your password |  <a href="{% url 'password_reset'%}">Reset Here</a>
                </p>

            </div>
        </div>



    </div>
</div>

{% endblock %}