{% extends "front_base.html" %}
{% block content %}
<div class="container-fluid my-5 py-5">
  <div class="container d-flex justify-content-center align-items-center px-5">

    <div class="card border-0 shadow-lg">
        <div class="card-body">

          <p>Hello {{ user.username }},</p>
          <p>Click the link below to reset your password:</p>
          <p><a href="{{ reset_url }}">Reset Password</a></p>

          <p>if the link is not clickable copy & paste this url <br />{{ reset_url }}</p>          

        </div>
    </div>

  </div>
</div>
{% endblock %}
