{% extends "front_base.html" %}
{% block title %} Registration {% endblock %}:
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid p-5">
    <div class="container d-flex justify-content-center align-items-center px-5">

        <div class="card border-0 shadow-lg">

            <!-- 
            <div class="card-header bg-primary border-0">
                <h4 class="fw-bold text-center text-white">Register</h4>
            </div>
            -->

            <div class="card-body">

                {% if messages %}
                    <div class="alert alert-block alert-success">
                        <ul class="m-0">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <form method="post">
                    {% csrf_token %}{{form|crispy}}        
                    <button type="submit" class="btn btn-primary w-100 fw-bold">Register</button>
                    <p class="d-block text-center pt-2 pb-0 mb-0" style="font-size:12px; font-weight:400;">Already have an account ? | <a href="/login">Login Here</a></p>
                </form>

            </div>
        </div>        

    </div>
</div>
{% endblock %}