{% load static %}
<footer class="sticky-footer bg-success py-3">
    <div class="container">
        <div class="copyright text-right my-auto text-white">
            <span>&copy; copyright </span>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js"></script>
<script>
    
    $(document).ready(function() {

            $('#dataTable').DataTable({
                ajax: {
                    url: '/api/users/',
                    dataSrc: ''
                },
                columns: [

                    { data: 'checkbox', visible:false,orderable:false, searchable:false },
                    { data: 'rowIndex', searchable:false, className: 'text-left'  },
                    { data: 'full_name' },
                    { data: 'username' },
                    { data: 'email' },                    
                    { data: 'role_name' },
                    { data: 'actions', orderable:false, searchable:false },
                    
                ],
                columnDefs: [
                    {
                        // targets: [5,6], //Actions and Checkboxes columns are raw html.
                        // orderable: false, //disable ordering on these columns.
                    }
                ]
            });
        });

</script>